  <div class='labelit-btn'>
    <span class='side-btn-text'>ラベリット!</span>
    <a href="/posts/new">
      <%= image_tag 'label.png' , size: '185x50' ,class: "side-btn-icon" %>
    </a>
  </div>
  <div class='search-btn'>
    <span class='side-btn-text'>ラベル検索</span>
    <a href="/posts/search">
      <%= image_tag 'search.png' , size: '185x50' ,class: "side-btn-icon" %>
    </a>
  </div> 
  <div class='memoit-btn'>
    <span class='side-btn-text'>メモイット!</span>
    <a href="/memos/new">
      <%= image_tag 'memo.png' , size: '185x50' ,class: "side-btn-icon" %>
    </a>
  </div>
  <div class='index-btn'>
    <span class='side-btn-text'>メモ一覧</span>
    <a href="/memos">
      <%= image_tag 'mypage.png' , size: '185x50' ,class: "side-btn-icon" %>
    </a>
  </div>