
.modal-dialog {
  padding-top: 50px;
}

.btn{
  margin-left: 10px;
}

.card-deck{
  padding-top: 50px;
  justify-content: space-evenly;
}

.row{
  justify-content: space-evenly;
  width: 100%;
}

.card-deck-post{
  padding-top: 90px;
}

.card-post{
  margin-bottom: 30px;
}

.input-group{
  margin-top: 50px;
}

.page-info{
  justify-content: center;
  margin-top: 30px;
  font-size: 18px;
}

.pagination{
  justify-content: center;
  margin-bottom: 30px;
}

.card-footer{
  display: flex;
  justify-content: space-between;
}

