
.modal-dialog {
  padding-top: 35px;
}

.card-deck{
  padding-top: 80px;
}

.input-group{
  margin-top: 50px;
}

.page-info{
  justify-content: center;
  margin-top: 30px;
  font-size: 18px;
}

.pagination{
  justify-content: center;
  margin-bottom: 30px;
}

.card-footer{
  display: flex;
  justify-content: space-between;
}

