
.labelit-btn {
  width: 120px;
  background: #007BFF;
  text-align: center;
  border-radius: 4%;
  bottom: 446px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.search-btn {
  width: 120px;
  background: #007BFF;
  text-align: center;
  border-radius: 4%;
  bottom: 308px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.mypage-btn {
  width: 120px;
  background: #339933;
  text-align: center;
  border-radius: 4%;
  bottom: 170px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.memoit-btn {
  width: 120px;
  background :#339933;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}


.side-btn-text {
  color: white;
  display: block;
  font-size: 17px;
  text-decoration: none;
  margin-bottom: 5px;
}

.side-btn-icon {
  width: 60%;
}